h1 It's game time!
//- .directions
p Tap a score to increase it. 
p Reload the page to reset.

section.scoreboard
  section.team#us
    h2 Us
    //- span.add +
    section.score#ours 0
  section.team#them
    h2 Them
    //- span.add +
    section.score#theirs 0
